@import "~bootstrap/scss/bootstrap.scss";


body{
    font-family: 'Chiller', cursive, bold;
    background-color: black;
    background-image: url("https://uploads.convertflow.co/production/websites/9849/BKYwTKvR4OZ2SVrCVFDQ_DuFZYY1R46iYynKboQAw_4G_LOGO_WHITE.png");
    background-size: 20%; 
    background-position: top-left;
 
    

    background-repeat: no-repeat;
}
h1{
    text-align: center;
    color:yellow;
}
.container{
    background:rgb(55, 55, 59) ;
    
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    padding-top:20px ;
    width: 300px;
    height: 300px;
    overflow: auto;
}